<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/ising.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Master's Thesis </h3>
    <p>How do learning machines develop abstraction? This project used statistical physics to show that truly abstract representations emerge only when depth and data breadth combine—depth creates structure, breadth drives universality. Working with Prof. Matteo Marsili's group at ICTP, I developed experiments showing Autoencoders converge toward universal distributions (Hierarchical Feature Model) as training data becomes more diverse. The work treats "abstraction" as measurable through information theory, bridging physics, AI, and cognitive science.</p>
    <a class="project-link" href="https://arxiv.org/html/2407.01656v4">Check out the paper!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/abstraction.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
